@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
scale: 1.2;
transition-duration: 500ms;
    
}

/* @media screeen (min-width:1000px) and (max-width:1100px) {
    .content p{
        font-size: 3rem;
    }
    .content span{
        font-size: 2rem;
    }
} */